doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Larisa Lighezan
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="profile.png", type="image/x-icon")
    body
        .general-div 
            img#profile-picture(src="profile.png", alt="Profile Picture")
            p#name
                b Larisa Lighezan
            a(href="http://instagram.com/ale_larisa18/" target="_blank") 
                #contact-card 
                    img#connect-logo(src="instagram.svg", alt="Instagram")
                    span#website-name ale_larisa18
            a(href="https://ro.linkedin.com/in/larisa-lighezan" target="_blank") 
                #contact-card 
                    img#connect-logo(src="linkedin.png", alt="Linkedin")
                    span#website-name Larisa Lighezan
            a(href="https://facebook.com/ale.2000larisa" target="_blank") 
                #contact-card 
                    img#connect-logo(src="facebook.svg", alt="Facebook")
                    span#website-name Alexandra Larisa
            a(href="CV-Larisa-Lighezan.pdf" target="_blank") 
                #contact-card 
                    img#connect-logo(src="suitcase.png", alt="Portfolio")
                    span#website-name Checkout my resume
            